/* Minify and concatenate with fonts.css: https://www.minifier.org/ */

/* RESETS */
*,
*:before,
*:after {
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  box-sizing: border-box;
  font-size: var(--text-size);
}

:not(icon-button):focus, icon-button svg:focus {
  color: var(--text-color);
  fill: var(--text-color);
  outline: 2px solid var(--accent-color);
}

/* GLOBAL VARIABLES */
html {
  font-size: 125%;
  /* 112.5% = 18px, 125% = 20px Type scale close to major third: https://type-scale.com/ Previously used the type scale from here: http://webtypography.net/3.1.1 */
  /* Variables */
  --text-size: 1rem;
  --line-height: 1.6;
  --side-margin: 20%;
  --font-weight: 400;
  --h1-text-size: 2.5rem;
  --h1-font-family: var(--font-family);
  --h1-font-weight: 700;
  --h1-font-style: normal;
  --h2-text-size: 2rem;
  --h2-font-family: var(--font-family);
  --h2-font-weight: 700;
  --h2-font-style: normal;
  --h3-text-size: 1.5rem;
  --h3-font-family: var(--font-family);
  --h3-font-weight: 700;
  --h3-font-style: normal;
  --h4-text-size: 1.25rem;
  --h4-font-family: var(--font-family);
  --h4-font-weight: 700;
  --h4-font-style: normal;
  --caret-color: var(--text-color);
  --selection-text-color: var(--text-color);
  --toolbox-text-color: var(--text-color);
  --tab-bg-color: transparent;
  --tab-text-color: var(--text-color);
  --active-tab-text-color: var(--text-color);
  --active-tab-bg-color: var(--bg-color);
  --modal-bg-color: var(--bg-color);
  --field-bg-color: var(--bg-color);
  --accent-color: hsl(214, 82%, 51%);
  --submit-button-text-color: var(--text-color);
  --submit-button-bg-color: var(--accent-color);
  /* Choose better color */
  /* Styles */
  accent-color: var(--accent-color);
}

/* Background -> Modal -> Field */

.theme-system {
  --text-color: black;
  --bg-color: hsl(0, 0%, 98%);
  --link-color: darkblue;
  --selection-bg-color: lightblue;
  --text-dimmed: hsla(0, 0%, 0%, 0.25);
  --toolbox-bg-color: hsl(0, 0%, 80%);
  --modal-bg-color: hsl(0, 0%, 98%);
  --field-bg-color: hsl(0, 0%, 90%);
}

@media (prefers-color-scheme: dark) {
  .theme-system {
    --text-color: hsl(0, 0%, 90%);
    --bg-color: hsl(0, 0%, 8%);
    --link-color: hsl(0, 0%, 90%);
    --selection-bg-color: hsla(210, 100%, 75%, 0.25);
    --text-dimmed: hsla(0, 0%, 90%, 0.25);
    --toolbox-bg-color: black;
    --modal-bg-color: hsl(0, 0%, 12%);
    --field-bg-color: hsl(0, 0%, 16%);
  }
}

.theme-light {
  --text-color: black;
  --bg-color: hsl(0, 0%, 98%);
  --link-color: darkblue;
  --selection-bg-color: lightblue;
  --text-dimmed: hsla(0, 0%, 0%, 0.25);
  --toolbox-bg-color: hsl(0, 0%, 80%);
  --modal-bg-color: hsl(0, 0%, 98%);
  --field-bg-color: hsl(0, 0%, 90%);
}

.theme-dark {
  --text-color: hsl(0, 0%, 90%);
  --bg-color: hsl(0, 0%, 8%);
  --link-color: hsl(0, 0%, 90%);
  --selection-bg-color: hsla(210, 100%, 75%, 0.25);
  --text-dimmed: hsla(0, 0%, 90%, 0.25);
  --toolbox-bg-color: black;
  --modal-bg-color: hsl(0, 0%, 12%);
  --field-bg-color: hsl(0, 0%, 16%);
}

.theme-book {
  --text-color: black;
  --bg-color: hsl(60, 100%, 95%);
  --link-color: hsl(0, 100%, 20%);
  /* From Freda's paper theme */
  --selection-bg-color: hsla(210, 100%, 75%, 0.25);
  --text-dimmed: hsla(0, 0%, 0%, 0.25);
  --toolbox-bg-color: hsl(60, 50%, 85%);
  --accent-color: hsl(0, 100%, 80%);
  --field-bg-color: hsl(60, 50%, 85%);
}

.theme-blue {
  /* Inspired by the "Beautiful Blues" color scheme: https://digitalsynopsis.com/design/beautiful-color-palettes-combinations-schemes/ */
  --text-color: black;
  --bg-color: hsl(210, 50%, 80%);
  --link-color: hsl(210, 95%, 15%);
  --selection-bg-color: hsl(210, 33%, 50%);
  --text-dimmed: hsla(0, 0%, 0%, 0.25);
  --toolbox-bg-color: hsl(210, 33%, 50%);
  --accent-color: hsl(210, 33%, 50%);
  --field-bg-color: hsl(210, 50%, 70%);
}

.theme-terminal {
  --text-color: hsl(120, 100%, 50%);
  --bg-color: hsl(120, 50%, 4%);
  --link-color: hsl(120, 100%, 50%);
  --selection-bg-color: hsl(120, 100%, 8%);
  --text-dimmed: hsla(120, 100%, 50%, 0.25);
  --toolbox-bg-color: black;
  --field-bg-color: hsl(120, 50%, 8%);
  --accent-color: hsl(120, 100%, 50%);
  --submit-button-bg-color: var(--field-bg-color);
}

.focus-mode {
  --toolbox-text-color: var(--text-dimmed);
  --active-tab-text-color: var(--text-dimmed);
}

.serif {
  font-size: 125%;
  --font-family: Georgia, serif;
  --h1-font-family: "Bodoni 48";
  --h1-font-weight: 700;
  --h1-font-style: normal;
  --h2-font-family: "Bodoni 24";
  --h2-font-weight: 400;
  --h2-font-style: italic;
  --h3-font-family: "Bodoni 24";
  --h3-font-weight: 400;
  --h3-font-style: italic;
  --h4-font-family: "Bodoni 24";
  --h4-font-weight: 400;
  --h4-font-style: italic;
}

.serif-headings { /* Unlisted */
  font-size: 112.5%;
  --font-family: "Inter", sans-serif;
  --h1-font-family: "Bodoni 48";
  --h1-font-weight: 700;
  --h1-font-style: normal;
  --h2-font-family: "Bodoni 24";
  --h2-font-weight: 400;
  --h2-font-style: italic;
  --h3-font-family: "Bodoni 24";
  --h3-font-weight: 400;
  --h3-font-style: italic;
  --h4-font-family: "Bodoni 24";
  --h4-font-weight: 400;
  --h4-font-style: italic;
}

.sans-serif {
  font-size: 112.5%;
  --font-family: "Inter", Helvetica, sans-serif;
}

.monospace {
  font-size: 112.5%;
  --font-family: "IBM Plex Mono", monospace;
  --font-weight: text;
}

.open-dyslexic {
  font-size: 112.5%;
  --font-family: "OpenDyslexic";
}

/* STYLES */
/* Bodoni font: https://indestructibletype.com/Bodoni.html */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  caret-color: var(--caret-color);
  word-wrap: break-word;
  hyphens: auto;
  font-size: var(--text-size);
  cursor: auto;
  text-rendering: optimizeLegibility;
}

html, body {
  /* Stretch page to full height or more, for hiding the mouse: https://stackoverflow.com/a/32384608 */
  padding: 0;
  margin: 0;
}

#editor {
  margin: 0;
  padding: 50px var(--side-margin);
  text-align: left;
  min-height: 100vh;
}

#editor p, #editor div {
  margin-bottom: 10px;
}

.focus-mode, .focus-mode * {
  /* asterisk greys out links and other child elements in unfocused paragraphs */
  animation: 0.1s ease-in 0s 1 text-dimmed;
  color: var(--text-dimmed);
}

.focus-mode .editable-focus, .focus-mode .editable-focus * {
  animation: 0.1s ease-in 0s 1 text-focused;
  color: var(--text-color);
}

.focus-mode .editable-focus a {
  color: var(--link-color);
}

#editor h1 {
  font-size: var(--h1-text-size);
  font-weight: var(--h1-font-weight);
  font-style: var(--h1-font-style);
  font-family: var(--h1-font-family), var(--font-family);
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-text-size);
  text-align: center;
}

#editor h2 {
  font-size: var(--h2-text-size);
  font-weight: var(--h2-font-weight);
  font-style: var(--h2-font-style);
  font-family: var(--h2-font-family), var(--font-family);
  font-weight: var(--h2-font-weight);
  margin: 1.35rem;
}

#editor h3 {
  font-size: var(--h3-text-size);
  font-weight: var(--h3-font-weight);
  font-style: var(--h3-font-style);
  font-family: var(--h3-font-family), var(--font-family);
  font-weight: var(--h3-font-weight);
  margin: 1.35rem;
}

#editor h4 {
  font-size: var(--h4-text-size);
  font-weight: var(--h4-font-weight);
  font-style: var(--h4-font-style);
  font-family: var(--h4-font-family), var(--font-family);
  font-weight: var(--h4-font-weight);
  margin: 1.35rem;
}

#editor li {
  font-size: var(--text-size);
  margin: 0.5rem;
}

#editor:focus {
  outline: none;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

#toolbox {
  position: fixed;
  /* Fixed toolbox */
  width: 100%;
  height: 35px;
  padding: 0;
  margin: 0;
  background: var(--toolbox-bg-color);
  overflow: scroll;
  /* Don't wrap tabs */
  white-space: nowrap;
  /* Don't wrap text */
  overflow-y: hidden;
  /* Don't display a vertical scrollbar */
}

.tab {
  width: 150px;
  height: 100%;
  background-color: var(--tab-bg-color);
  font-size: 18px;
  font-family: var(--font-family);
  color: var(--tab-text-color);
  border: none;
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  cursor: pointer;
}

.activeTab {
  background-color: var(--active-tab-bg-color);
  color: var(--active-tab-text-color);
}

.modal {
  font-family: "Inter", Helvetica, sans-serif;
  padding: 40px;
  position: fixed;
  inset: 10%;
  background-color: var(--modal-bg-color);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  overflow: auto;
  display: none;
  overscroll-behavior: none;
}

.modal-open {
  display: block;
}

.modal h1, .modal legend {
  font-size: var(--h4-text-size);
  font-family: var(font-family);
  font-weight: bold;
  margin: 20px;
}

fieldset {
  padding-left: 0px;
}

button, input, textarea {
  background-color: var(--field-bg-color);
}

textarea {
  width: 100%;
  height: 200px;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 75%;
  color: var(--text-color);
  padding: 10px;
}

.modal-close {
  position: fixed;
  top: calc(10% + 35px);
  right: calc(10% + 35px);
  /* Top-right modal corner plus extra padding */
}

.icon-button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.icon-button svg {
  fill: var(--text-color);
}

input[type="radio"] {
  /* https://codepen.io/5t3ph/pen/LYzwrLr */
  font-size: inherit;
  width: 0.75em;
  height: 0.75em;
}

input[type="submit"] {
  background-color: var(--submit-button-bg-color);
  color: var(--submit-button-text-color);
  margin-top: 10px;
  padding: 10px;
}

label input {
  margin: 10px;
}

.image-radio label {
  margin: 10px;
}

.image-radio label input[type="radio"] {
  appearance: none;
  outline: none;
  width: 0;
  height: 0;
  padding: 0;
  background-color: white;
  margin: 0;
}

.image-radio label input[type="radio"]:checked + img {
  /* https://stackoverflow.com/a/4642152/ */
  outline: 2px solid var(--accent-color);
}

.image-radio label input[type="radio"]:focus:checked + img {
  /* https://stackoverflow.com/a/4642152/ */
  outline: 4px solid var(--accent-color);
}

::selection {
  color: var(--selection-text-color);
  background: var(--selection-bg-color);
}

/* ANIMATION */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes text-dimmed {
  0% {
    color: var(--text-color);
  }

  100% {
    color: var(--text-dimmed);
  }
}

@keyframes text-focused {
  0% {
    color: var(--text-dimmed);
  }

  100% {
    color: var(--text-color);
  }
}

/* Animation classes */
.fade-in {
  animation: 1s ease-in 0s 1 fade-in;
  opacity: 1;
}

.fade-out {
  animation: 1s ease-out 0s 1 fade-out;
  opacity: 0;
}

.quick-fade-in {
  animation: 0.25s ease-in 0s 1 fade-in;
  opacity: 1;
}

.quick-fade-out {
  animation: 0.25s ease-out 0s 1 fade-out;
  opacity: 0;
}

.hide-scrollbars {
  -ms-overflow-style: none;
  /* Hide scrollbars in Edge */
  scrollbar-width: none;
  /* Hide scrollbars in Firefox */
  margin-right: 17px;
  /* Not sure why 17px - maybe 2px + 15px? Also, this should only be active when the scrollbars are present. */
}

.hide-scrollbars::-webkit-scrollbar {
  /* Hide scrollbars in Webkit */
  display: none;
}

@media screen and (max-width: 992px) {
  html {
    --side-margin: 10%;
  }
}

@media screen and (max-width: 600px) {
  html {
    --side-margin: 10%;
  }
}

/* MEDIA QUERIES */
@media print {
  html {
    height: default;
    --text-size: 12pt;
    --bg-color: white;
  }

  body {
    min-height: default;
    line-height: default;
  }

  #editor {
    padding: 0;
  }

  #toolbox {
    display: none;
  }

  #editor * {
    color: black;
  }
}
